In [1]:
data_path = "../input/data.tsv"

In [4]:
import os
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [5]:
column_names = ['query_id', 'query', 'passage_text', 'label', 'passage_id']
types_dict = {'query_id': 'int32',
             'query': 'object',
             'passage_text': 'object',
             'label': 'int64',
             'passage_id': 'int64'}

In [6]:
%time the_large_df = pd.read_csv(data_path, sep='\t', header = None, low_memory  = True, dtype = types_dict, names = column_names)

CPU times: user 29 s, sys: 3.69 s, total: 32.7 s
Wall time: 32.7 s

In [7]:
the_large_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5241880 entries, 0 to 5241879
Data columns (total 5 columns):
query_id        int32
query           object
passage_text    object
label           int64
passage_id      int64
dtypes: int32(1), int64(2), object(2)
memory usage: 180.0+ MB

In [8]:
the_large_df.head()

   query_id                     query     ...     label  passage_id
0         0  . what is a corporation?     ...         0           0
1         0  . what is a corporation?     ...         0           1
2         0  . what is a corporation?     ...         0           2
3         0  . what is a corporation?     ...         0           3
4         0  . what is a corporation?     ...         0           4

[5 rows x 5 columns]

In [ ]:
os.makedirs('tmp', exist_ok=True) 
the_large_df.to_feather('./tmp/queries_raw_feather')

In [ ]:
%time the_large_df = pd.read_feather('./tmp/queries_raw_feather')