# Data Analysis

This phase involved rigorous study of the data. We'll observe the pattern in which the data is laid out and form individual corpuses for introducing data read pipelines in the whole end-to-end learning procedure.

In [1]:
import numpy as np
import pandas as pd
from tqdm import tqdm
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
%time df = pd.read_csv('/floyd/input/question_context_relevance/data.tsv', sep = "\t", names = ['query_id', 'query', 'passage_text', 'label', 'passage_id'])

df.head()

CPU times: user 28.7 s, sys: 1.98 s, total: 30.7 s
Wall time: 36 s

,query_id,query,passage_text,label,passage_id
0,0,. what is a corporation?,A company is incorporated in a specific nation...,0,0
1,0,. what is a corporation?,"Today, there is a growing community of more th...",0,1
2,0,. what is a corporation?,"Corporation definition, an association of indi...",0,2
3,0,. what is a corporation?,Examples of corporation in a Sentence. 1 He w...,0,3
4,0,. what is a corporation?,1: a government-owned corporation (as a utilit...,0,4

In [3]:
df.loc[df['query_id'] == 1000]

,query_id,query,passage_text,label,passage_id
2803953,1000,depona ab,"View Martin Townsend’s profile on LinkedIn, th...",0,3
2803954,1000,depona ab,A preview of what LinkedIn members have to say...,0,0
2803955,1000,depona ab,Company Profile. Depona AB provides physical a...,0,5
2803956,1000,depona ab,"Uzņēmums Depona sāka darbu ar ideju, kas pared...",0,4
2803957,1000,depona ab,"Depona Ab is a library in Vilhelmina, Sweden. ...",1,6
2803958,1000,depona ab,Svenska Standardbolag AB is the market leader ...,0,7
2803959,1000,depona ab,1 5,0,8
2803960,1000,depona ab,"In the autumn of 2000, Svenska Standardbolag a...",0,2
2803961,1000,depona ab,Connecting decision makers to a dynamic networ...,0,9
2803962,1000,depona ab,Depona Oy YTJ: Y-tunnus: 21527338 YTJ: Toimial...,0,1

A more detailed analysis reveals that there are 5,241,880 data points having vriations in data point distributions. We can get a set of data points for each id.

In [6]:
import os

In [7]:
os.mkdir('corpora')

In [ ]:
query_ids = list(set(df['query_id']))
#Give the first column a name otherwise it will be stored as an empty column
for i in tqdm(query_ids[:10000]):
    df_temp = df.loc[df.query_id == i]
    df_temp.to_csv('corpora/' + str(i) + '.csv')

In [12]:
!rm corpora/*

## Forming file structure

We'll keep te data divded into corpuses for easier analysis. The structure of the folder is of the following:-

DATA  
|-<QUERY_ID>.TSV

A single <QUERY_ID>.tsv file will have the 10 data points related that query_id. This will make the analysis and shuffling of data easier.

In [13]:
import tensorflow as tf

In [15]:
x = tf.nn.rnn_cell.BasicLSTMCell(100)
x = tf.nn.rnn_cell.BasicLSTMCell(x, 60, )
x = tf.layers.conv1d(x, 1, (1,))
writer = tf.summary.FileWriter('.')
writer.add_graph(tf.get_default_graph())

AttributeError: 'BasicLSTMCell' object has no attribute 'shape'